{% from "macros/render_field.html" import render_field %}
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <dl>
        <div class="form-inline">
        {% for field in form %}
            {% if field.id != 'csrf_token' %}
                {{ render_field(field) }}
            {% endif %}
            <!--{% if field.id == 'username' %}-->
                <!--{{ field(class_="form-control") }}-->
                <!--{{ field.__dict__ }}-->
                <!--{{ field['default'] }}-->
            <!--{% endif %}-->


        {% endfor %}
        </div>
    </dl>
    <button type="submit" value="{{ 'Submit' }}" class="btn {{ button_classes }} ">
        {{ button_name }}
    </button>
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
